{% extends 'base.html' %}

{% block content %}
<script src="static/joy.min.js"></script>

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .video-container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: 1;
    }

    .video-container img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover; /* Maintain aspect ratio and cover the screen */
    }

    .full-screen {
        height: 100vh;
        position: relative;
        z-index: 2; /* Ensure the grid is on top of the video */
    }

    /* Transparent box */
    .border-box.transparent {
        background-color: rgba(255, 255, 255, 0); /* Fully transparent background */
        border: 2px solid black; /* Visible border */
        height: 100%;
    }

    /* Opaque box */
    .border-box.opaque {
        background-color: rgba(255, 255, 255, 1); /* Non-transparent background */
        border: 2px solid black; /* Visible border */
        height: 100%;
    }

    .row-divider {
        height: 50%; /* Each row takes half the height */
    }

    .col-divider {
        height: 100%; /* Each column takes full height */
    }

</style>

<body>
    <!-- Video Container -->
    <div class="video-container">
        <img src="{{ url_for('video_feed') }}">
    </div>


    <!-- Crosshair Layout -->
    <div class="container-fluid full-screen">
        <div class="row row-divider">
            <div class="col-6 border-box transparent col-divider"></div>
            <div class="col-6 border-box transparent col-divider"></div>
        </div>
        <div class="row row-divider">
            <div class="col-6 border-box col-divider"></div>
            
            <div class="col-6 border-box transparent col-divider">
                <div class="opaque">
                    
                    <div id="joy1Div" style="width:200px;height:200px;margin:50px"></div>
                    Posizione X:<input id="joy1PosizioneX" type="text" /><br />
                    Posizione Y:<input id="joy1PosizioneY" type="text" /><br />
                    Direzione:<input id="joy1Direzione" type="text" /><br />
                    X :<input id="joy1X" type="text" /></br>
                    Y :<input id="joy1Y" type="text" />                    

                    <!-- Fire button  -->
                    <button class="btn btn-danger btn-lg" id="fire-button">   Fire   </button>
              
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var joy1IinputPosX = document.getElementById("joy1PosizioneX");
        var joy1InputPosY = document.getElementById("joy1PosizioneY");
        var joy1Direzione = document.getElementById("joy1Direzione");
        var joy1X = document.getElementById("joy1X");
        var joy1Y = document.getElementById("joy1Y");
        /*
        setInterval(function(){ joy1IinputPosX.value=Joy1.GetPosX(); }, 50);
        setInterval(function(){ joy1InputPosY.value=Joy1.GetPosY(); }, 50);
        setInterval(function(){ joy1Direzione.value=Joy1.GetDir(); }, 50);
        setInterval(function(){ joy1X.value=Joy1.GetX(); }, 50);
        setInterval(function(){ joy1Y.value=Joy1.GetY(); }, 50);
        */

        document.getElementById('fire-button').addEventListener('click', function() {
            console.log("firing");

            fetch('/fire', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({"data": "fire"}),
            })
        // .then(response => response.json()) // Parse JSON response
        // // .then(data => {
        // //     // Update the page with the response (without refresh)
        // //     // document.getElementById('response').innerText = `Response from server: ${data.response}`;
        // //     console.log(data.response);
        // // })
        // .catch((error) => {
        //     console.error('Error:', error);
        // });
        });


        // Create JoyStick object into the DIV 'joy1Div'
        var Joy1 = new JoyStick('joy1Div', {"autoReturnToCenter": false }, function(stickData) {
            joy1IinputPosX.value = stickData.xPosition;
            joy1InputPosY.value = stickData.yPosition;
            joy1Direzione.value = stickData.cardinalDirection;
            joy1X.value = stickData.x;
            joy1Y.value = stickData.y;
        });              
        
        setInterval(function(){ 
            console.log(joy1X.value, joy1Y.value); 

            fetch('/joystick', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "x": joy1X.value,
                    "y": joy1Y.value
                })
            })
            
        }, 50);
    </script>
</body>

{% endblock %} 